<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Bem vindo ao Mais Cidadão {{name}}</p>
  <p>Clique no link abaixo para validar o seu email</p>
  <p>
    <a href="{{link}}">Validar email</a>
  </p>
  <p>
    Obrigado!<br />
    <strong>Equipe Mais Cidadão</strong>
  </p>
</div>
